@import "tailwindcss";

@keyframes fall {
    0% {
        top: var(--fall-start, -100px);
    }
    100% {
        top: var(--fall-end, 0);
    }
}

.fall-animation {
    animation: fall 0.7s ease-in-out forwards;
}