@import "tailwindcss";

@keyframes fall {
    0% {
        top: var(--fall-start, -100px);
    }
    100% {
        top: var(--fall-end, 0);
    }
}

.fall-animation {
    animation: fall 0.7s ease-in-out forwards;
}

#container {
    padding: 50px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circulos {
    display: flex;
    align-items: center;
    justify-content: center;
}